*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BACKGROUND-COLOR: #1CBBCF;
  --COLOR: #5b548a;
}


/* GENERAL */
/* button {
  cursor: pointer;
}

button:focus{
  outline: 2px solid var(--COLOR);
} */

input:focus {
  outline: none;
}

h1, h2{
  font-weight: 500;
}


/* PAGE LAYOUT */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
  padding: 1rem;

  /* background-color: black; */
  background-image: url(../assets/images/fog.jpg);

  font-family: "Poppins", sans-serif;

  color: white;
}

.card {
  position: relative;
  z-index: 1;

  flex: 0 1 28.75rem;

  min-height: 650px;
  border-radius: 1rem;
  padding: 2rem;

  background-image: linear-gradient(135deg, #00feba, #5b548a);

  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.527);

  overflow: hidden;
}

/*SEARCH SECTION*/
.search {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;

  margin-bottom: 2.5rem;
}

.search__bar {

  width: 100%;
  border: none;
  border-radius: 1.8em;
  padding: 0.6em 1em;

  font-size: 1rem;
}

/*  Loading animation */
.loader {
  position: absolute;
  right: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 1.5em;
  height: 1.5em;
  border: 3px solid  #fff;
  border-radius: 50%;
  border-top: 3px solid #1CBBCF;
  
  animation: spin 500ms linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* Hero Section*/
.hero__section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  margin-bottom: 2.5rem;

  transition: all 1000ms linear;
}

.hero__icon {
  margin-bottom: 1.5rem;
}

.temperature {
  font-size: 5rem;
}

.location {
  font-size: 3rem;
  text-align: center;
}

/* Weather Data */
.weather__data {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  transition: all 1000ms linear;
}

.data__col {

  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 0.3rem;
}

.data {
  display: flex;
  flex-flow: column nowrap;
}

.data__value {
  font-size: 2rem;
  font-weight: 600;

  line-height: 180%;
  white-space: nowrap;
}

.data__title {
  font-size: 1.3rem;
  font-weight: 500;

  white-space: nowrap;
}

/* Pop down notification bar */
.notification {
  position: absolute;
  top: -2rem;
  left: 1rem;
  right: 1rem;

  border: none;
  border-radius: 0 0 1.8em 1.8em;
  padding: 0.5em 1em;

  font-size: 0.8rem;
  font-weight: 600;

  color: black;
  background-image: linear-gradient(135deg,  #fe0044, #838a54);

  opacity: 0;
  transition: all 0.8s linear;

  overflow: hidden;
  text-align: center;
}


.swipe-up {
  position: absolute;
  z-index: 1;
  left: -8rem;

  animation-name: slide;
  animation-duration: 8000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;

  color: black;

  font-weight: 600;

  opacity: 0;
}

@keyframes slide {
  0% {
    transform: translateX(0rem) ;
  }
  100% {
    transform: translateX(37rem) ;
  }
}


/* Implement Landscape view */